"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showInvisibles: true
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "9661ad4f-149e-4eab-b058-89517e650e18"
  "linter-ui-default":
    panelHeight: 81
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
