"*":
  core:
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showInvisibles: true
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "2989ed75-eddc-45fb-92bf-6782a1423097"
  "linter-ui-default":
    panelHeight: 81
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
